html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 100%;
}

.fontsize30 {
    font-size: 30px;
}

.italic {
    font-size: 30px;
    font-style: italic;
}

.font700 {
    font-weight: 700;
}

.color {
    color: crimson;
}

.textcenter {
    text-align: center;
}
